.header-bg {
  width: 100%;
  height: 750px;
  background-image: url('images/image1.jpg');
  background-size: cover;
}
.header-bg .navbar {
  height: 100px;
  background: rgba(0,0,0,0.4);
}
.navbar {
  margin-bottom: 0;
}
.navbar-header {
  margin-top: 20px;
}
.navbar-nav li {
  margin: 0 15px;
}
.header-bg .navbar-nav li {
  height: 99px;
}
.navbar-nav li:last-child {
  margin-right: 0;
}
.header-bg .navbar-nav li.active {
  border-bottom: 5px solid orange;
}
.header-bg .navbar-nav li.active a {
  color: orange;
}
.navbar-nav li:hover {
  cursor: pointer;
}
.navbar-nav li a {
  margin-top: 20px;
  text-transform: uppercase;
  color: white;
}
.navbar-nav li a:hover {
  background: none;
  color: orange;
}
.navbar-brand {
  font-size: 50px;
  color: white;
  font-weight: bold;
  font-style: italic;
}
.navbar-brand a:hover {
  color: white;
}
.navbar-toggle .icon-bar {
  background: white;
}
.jumbotron {
  background: transparent;
}
.jumblock {
  height: 300px;
  background: rgba(0,0,0,0.7);
  margin-right: 30px;
  border-radius: 5px;
  padding: 40px;
  color: white;
}
.jumblock .welcome {
  font-size: 50px;
  text-transform: uppercase;
}
.jumblock .to-silveryhaul {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: grey;
}
.socials {
  width: 30px;
}
.socials a {
  border: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.facebook {
  float: left;
}
